include .coveragerc
include Changes
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_local_sqlite/ext.conf

recursive-include mopidy_local_sqlite/scripts *.sql

recursive-include tests *.py
